# Unit test and sample program executables
unittests
sample

# Doxygen folders
html
latex

# vim swap files
*.swp

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
